*{
    margin:0;
    padding:0;
}
.header{
    background-color:white;
    height:80px;
    border-bottom:2px solid gray ;
    box-shadow:1px 1px 1px 1px rgb(203, 209, 208);

}
.header .head .h1div{
    height:82px;
    width:220px;
    display:inline-block;
    background-color:rgb(17, 166, 166);
    margin:0 30px;
    
   
}
.header .your-name{
    font-size:30px;
    display:inline-block; 
    margin:20px 30px;
    color:white;
    
}
section .head .menu-bar{
    float:right;
    margin-right:34px;
}
.menu-bar{
    margin-top:25px;

}
.menu-bar ul li{
    list-style:none;
    display:inline-block;
    font-size:21px;
    margin:10px;
    color:rgb(124, 126, 128);
}
.menu-bar ul .line{
    display:inline-block;
    width:1.1px;
    height:17px;    
    background-color:rgb(173, 185, 184);
}
.middle{
    background:url("C:/Users/Hp/Documents/IATC/Images/ZA 1903.jpg") ;
    height:570px;
    position:absolute;
}
.middle .middle-div{
    background-color:white;
    margin-top:5%;
    width:50%;
    margin-left:50px;
    display: inline-block;
}

.middle-div .aboutme hr{
    margin-bottom:25px;
    width:90%;
    margin-left:22px;
    margin-right:22px;
    
}
.aboutme p:nth-child(1) {
    font-size: 30px;
    float: right;
    color: rgb(17, 166, 166);
    margin: 22px;
    font-weight: bold;
}
.img-combine{
    width:190px;
    height:140px;
    background-color: rgb(17, 166, 166);
    position: relative;
    display:inline-block;
    margin:10px;
}
.img-combine img{
    width:100%;
    height:100%;
    
}
.img-front{
    width:100%;
    height:40px;
    background-color: rgb(17, 166, 166);
    position: absolute;
    top:68%;
   
}
.img-combine span{
    font-size:24px;
    display:block;
    text-align:center;
    padding-top:2%;
}

.connectwithme{
    width:300px;
    height:200px;
    margin-top:5%;
    background-color:white;
    margin-right:290px;
    float:right;
   
}
.connectwithme p{
    font-size:30px;
    color:rgb(17, 166, 166);
    margin:22px;
    font-weight:bold;
}
.connectwithme hr {
    margin-bottom:25px;
    width:90%;
    margin-left:22px;
    margin-right:22px;
}
.social div{
    display: inline;
    margin:15px;
}
.social img{
    width:60px;
    height: 60px;
   
}
.middle .box{
    box-shadow:0px 0px 0.5px 0.5px rgb(94, 103, 107);
}
footer{
    display:block;
    width:100%;
    height:100px;
    bottom:0;
    position:fixed;
}
.footercolor{ 
    background-color: rgb(17, 166, 166);
    width:100%;
    height:20px;
  

}
.footerend{
    height:100px;
    width:100%;
  
    background-color:rgb(2, 2, 2,0.5);
    color:white;
    
}
.footerend p{
    
    text-align:center;
    top:50%;
}